   <div class="py-4 px-8 bg-gray-50 border-b border-gray-200">
        <ol class="flex flex-wrap items-center">
          <ng-container *ngFor="let item of items; let last = last; let i = index">
            <li *ngIf="item.link && !last" class="flex items-center">
              <a [routerLink]="item.link" class="text-sm text-gray-600 hover:text-primary">
                {{ item.label | translate }}
              </a>
              <span class="mx-2 text-gray-400">/</span>
            </li>
            <!-- Item without link or last item -->
            <li *ngIf="!item.link || last" class="flex items-center">
              <span [class]="last ? 'text-sm font-medium text-gray-900' : 'text-sm text-gray-600'">
                {{ item.label | translate }}
              </span>
              <span *ngIf="!last" class="mx-2 text-gray-400">/</span>
            </li>
          </ng-container>
        </ol>
    </div>
