<div class="assignee-info">
  <div class="assignee-content">
    <app-icon 
      [name]="getAssigneeIcon()" 
      [size]="16" 
      className="assignee-icon">
    </app-icon>
    <span class="assignee-text">{{ assignee }}</span>
  </div>
  <div 
    *ngIf="hasNotifications" 
    class="notification-badge"
    (click)="onNotificationClick($event)">
    <app-icon 
      name="bell" 
      [size]="16" 
      className="notification-icon">
    </app-icon>
    <div class="red-dot"></div>
  </div>
</div>