<app-main-layout class="antialiased flex h-full text-base text-gray-700 [--tw-page-bg:#fefefe] [--tw-page-bg-dark:var(--tw-coal-500)] demo1 sidebar-fixed header-fixed bg-[--tw-page-bg] dark:bg-[--tw-page-bg-dark]"></app-main-layout>

<!-- <div class="antialiased flex h-full text-base text-gray-700 [--tw-page-bg:#fefefe] [--tw-page-bg-dark:var(--tw-coal-500)] demo1 sidebar-fixed header-fixed bg-[--tw-page-bg] dark:bg-[--tw-page-bg-dark]"> -->
<app-loader *ngIf="(loaderService.isLoading$ | async)"
    class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50">
</app-loader>

<router-outlet />
<!-- </div> -->