.scale-up {
    
    opacity: 1;
    position: relative;
    transform: scale(0);
    animation: 0.3s scale-up-animation ease-in-out 0.33333s;
    animation-fill-mode: forwards;
    animation-delay: calc(1 * 0.1s);
}

.scale-up:nth-child(1) {
    
    opacity: 0;
    position: relative;
    transform: scale(0);
    animation: 0.3s scale-up-animation ease-in-out 0.33333s;
    animation-fill-mode: forwards;
    animation-delay: calc(1 * 0.1s);
  }

.scale-up:nth-child(2) {
    
    opacity: 0;
    position: relative;
    transform: scale(0);
    animation: 0.3s scale-up-animation ease-in-out 0.33333s;
    animation-fill-mode: forwards;
    animation-delay: calc(2 * 0.1s);
  }

.scale-up:nth-child(3) {
    
    opacity: 0;
    position: relative;
    transform: scale(0);
    animation: 0.3s scale-up-animation ease-in-out 0.33333s;
    animation-fill-mode: forwards;
    animation-delay: calc(3 * 0.1s);
  }

.scale-up:nth-child(4) {
    
    opacity: 0;
    position: relative;
    transform: scale(0);
    animation: 0.3s scale-up-animation ease-in-out 0.33333s;
    animation-fill-mode: forwards;
    animation-delay: calc(4 * 0.1s);
  }


.scale-up:nth-child(5) {
    
    opacity: 0;
    position: relative;
    transform: scale(0);
    animation: 0.3s scale-up-animation ease-in-out 0.33333s;
    animation-fill-mode: forwards;
    animation-delay: calc(5 * 0.1s);
  }

@keyframes scale-up-animation {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
